<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/4ced43830c4ff4955e236ea8/w/6fb1b9520eae9230baf9061c/e/4d5e051e59e583b208867f10 -->
<robot name="mower_robot">
  <!-- Link base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <!-- Part base_link -->
    <visual>
      <origin xyz="-0.00376282 0.000572341 -0.0929528" rpy="0 -0 1.5708"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/base_link.stl"/>
      </geometry>
      <material name="base_link_material">
        <color rgba="0.901961 0.878431 0.811765 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.00376282 0.000572341 -0.0929528" rpy="0 -0 1.5708"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/base_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link left_wheel_link -->
  <link name="left_wheel_link">
    <inertial>
      <origin xyz="-3.1524e-07 9.95807e-06 -0.0428781" rpy="0 0 0"/>
      <mass value="0.368513"/>
      <inertia ixx="0.000961278" ixy="3.92e-09" ixz="6.596e-09" iyy="0.000961335" iyz="1.3009e-08" izz="0.00177481"/>
    </inertial>
    <!-- Part left_wheel_link -->
    <visual>
      <origin xyz="-0 0 -0.025531" rpy="-0 0 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/left_wheel_link.stl"/>
      </geometry>
      <material name="left_wheel_link_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 -0.025531" rpy="-0 0 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/left_wheel_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to left_wheel_link -->
  <joint name="right_wheel_joint" type="continuous">
    <origin xyz="-0.153763 -0.117428 -0.00295275" rpy="-1.5708 1.53456 -0"/>
    <parent link="base_link"/>
    <child link="left_wheel_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="6"/>
    <joint_properties friction="0.5"/>
  </joint>
  <!-- Link right_wheel_link -->
  <link name="right_wheel_link">
    <inertial>
      <origin xyz="-3.1524e-07 9.95807e-06 -0.0428781" rpy="0 0 0"/>
      <mass value="0.368513"/>
      <inertia ixx="0.000961278" ixy="3.92e-09" ixz="6.596e-09" iyy="0.000961335" iyz="1.3009e-08" izz="0.00177481"/>
    </inertial>
    <!-- Part right_wheel_link -->
    <visual>
      <origin xyz="0 0 -0.025531" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/right_wheel_link.stl"/>
      </geometry>
      <material name="right_wheel_link_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.025531" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/right_wheel_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to right_wheel_link -->
  <joint name="left_wheel_joint" type="continuous">
    <origin xyz="-0.153763 0.118572 -0.00295275" rpy="1.5708 1.24431 -0"/>
    <parent link="base_link"/>
    <child link="right_wheel_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="6"/>
    <joint_properties friction="0.5"/>
  </joint>
  <!-- Link caster_yaw_link -->
  <link name="caster_yaw_link">
    <inertial>
      <origin xyz="-0.00894349 -1.10704e-07 -0.0235114" rpy="0 0 0"/>
      <mass value="0.205996"/>
      <inertia ixx="0.000152202" ixy="-7.97e-10" ixz="-3.03099e-05" iyy="0.000161102" iyz="-1.164e-09" izz="0.000106547"/>
    </inertial>
    <!-- Part caster_yaw_link -->
    <visual>
      <origin xyz="0 0 -0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/caster_yaw_link.stl"/>
      </geometry>
      <material name="caster_yaw_link_material">
        <color rgba="0.678431 0.678431 0.678431 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/caster_yaw_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link caster_wheel_link -->
  <link name="caster_wheel_link">
    <inertial>
      <origin xyz="2.3994e-08 -1.69119e-07 -0.0164994" rpy="0 0 0"/>
      <mass value="0.138953"/>
      <inertia ixx="5.52912e-05" ixy="-1.43e-10" ixz="-5.3e-11" iyy="5.52922e-05" iyz="3.05e-10" izz="8.94246e-05"/>
    </inertial>
    <!-- Part caster_wheel_link -->
    <visual>
      <origin xyz="0 -0 -0.0165" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/caster_wheel_link.stl"/>
      </geometry>
      <material name="caster_wheel_link_material">
        <color rgba="0.207843 0.192157 0.192157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0 -0.0165" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/caster_wheel_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from caster_yaw_link to caster_wheel_link -->
  <joint name="caster_wheel_joint" type="continuous">
    <origin xyz="-0.0255 0.0170526 -0.0695" rpy="1.5708 0.37367 -3.14159"/>
    <parent link="caster_yaw_link"/>
    <child link="caster_wheel_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="6"/>
    <joint_properties friction="0.5"/>
  </joint>
  <!-- Joint from base_link to caster_yaw_link -->
  <joint name="caster_yaw_joint" type="revolute">
    <origin xyz="0.162737 0.000572341 0.0155472" rpy="-0 0 3.14159"/>
    <parent link="base_link"/>
    <child link="caster_yaw_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="6" lower="-6.28319" upper="0"/>
    <joint_properties friction="0.5"/>
  </joint>
  <!-- Link depth_camera_link -->
  <link name="depth_camera_link">
    <inertial>
      <origin xyz="-0.0210924 2.34653e-05 -0.0116574" rpy="0 0 0"/>
      <mass value="0.292898"/>
      <inertia ixx="2.81585e-05" ixy="-1.4716e-08" ixz="-1.69117e-06" iyy="0.000189634" iyz="8.1277e-08" izz="0.000187962"/>
    </inertial>
    <!-- Part depth_camera_link -->
    <visual>
      <origin xyz="-0.0225 0 -0.02505" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/depth_camera_link.stl"/>
      </geometry>
      <material name="depth_camera_link_material">
        <color rgba="0.701961 0.701961 0.701961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0225 0 -0.02505" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/depth_camera_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to depth_camera_link -->
  <joint name="depth_camera_joint" type="fixed">
    <origin xyz="0.195683 0.0230723 0.0740472" rpy="-1.5708 -0 1.5708"/>
    <parent link="base_link"/>
    <child link="depth_camera_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="6"/>
    <joint_properties friction="0.5"/>
  </joint>
  <!-- Link back_camera_link -->
  <link name="back_camera_link">
    <inertial>
      <origin xyz="0.000174127 0.000320936 -0.0147836" rpy="0 0 0"/>
      <mass value="0.0107094"/>
      <inertia ixx="9.78237e-07" ixy="-2.6898e-08" ixz="1.5856e-08" iyy="9.49758e-07" iyz="2.9225e-08" izz="1.19328e-06"/>
    </inertial>
    <!-- Part back_camera_link -->
    <visual>
      <origin xyz="0 0 -0.0202866" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/back_camera_link.stl"/>
      </geometry>
      <material name="back_camera_link_material">
        <color rgba="0.713725 0.713725 0.713725 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.0202866" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/back_camera_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to back_camera_link -->
  <joint name="back_camera_joint" type="fixed">
    <origin xyz="-0.206981 0.000572341 0.0620472" rpy="-1.5708 -0 1.5708"/>
    <parent link="base_link"/>
    <child link="back_camera_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="6"/>
    <joint_properties friction="0.5"/>
  </joint>
  <!-- Link imu_link -->
  <link name="imu_link">
    <inertial>
      <origin xyz="-0.000251465 3.703e-09 -0.00531321" rpy="0 0 0"/>
      <mass value="0.205582"/>
      <inertia ixx="3.85914e-05" ixy="1.7e-11" ixz="-3.105e-09" iyy="4.59431e-05" iyz="-1e-12" izz="7.98412e-05"/>
    </inertial>
    <!-- Part imu_link -->
    <visual>
      <origin xyz="-0.000256254 0 -0.005" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/imu_link.stl"/>
      </geometry>
      <material name="imu_link_material">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.000256254 0 -0.005" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/imu_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to imu_link -->
  <joint name="imu_joint" type="fixed">
    <origin xyz="-0.197763 0.00193904 -0.0129528" rpy="3.14159 -0 1.5708"/>
    <parent link="base_link"/>
    <child link="imu_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="6"/>
    <joint_properties friction="0.5"/>
  </joint>
  <!-- Link connector -->
  <link name="connector">
    <inertial>
      <origin xyz="-8.04e-10 -0.000464193 -0.0128143" rpy="0 0 0"/>
      <mass value="0.0120859"/>
      <inertia ixx="1.19168e-06" ixy="0" ixz="0" iyy="1.267e-06" iyz="2.3234e-08" izz="2.01476e-06"/>
    </inertial>
    <!-- Part connector -->
    <visual>
      <origin xyz="0 0 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/connector.stl"/>
      </geometry>
      <material name="connector_material">
        <color rgba="0.6 0.6 0.6 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/connector.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link blade_hub -->
  <link name="blade_hub">
    <inertial>
      <origin xyz="-0 -0 -0.00147225" rpy="0 0 0"/>
      <mass value="0.0672483"/>
      <inertia ixx="9.33182e-05" ixy="-0" ixz="0" iyy="9.33182e-05" iyz="0" izz="0.000186538"/>
    </inertial>
    <!-- Part blade_hub -->
    <visual>
      <origin xyz="0 0 -0.003" rpy="3.14159 -0 -0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/blade_hub.stl"/>
      </geometry>
      <material name="blade_hub_material">
        <color rgba="0.6 0.6 0.6 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.003" rpy="3.14159 -0 -0"/>
      <geometry>
        <mesh filename="package://mower_description/mower_robot/assets/blade_hub.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from connector to blade_hub -->
  <joint name="pad_joint" type="fixed">
    <origin xyz="0 0 -0.018" rpy="0 -0 -0"/>
    <parent link="connector"/>
    <child link="blade_hub"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="6"/>
    <joint_properties friction="0.5"/>
  </joint>
  <!-- Joint from base_link to connector -->
  <joint name="mower_joint" type="revolute">
    <origin xyz="-0.00376282 0.000572341 -0.0549528" rpy="0 -0 -1.5708"/>
    <parent link="base_link"/>
    <child link="connector"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="6" lower="-3.14159" upper="3.14159"/>
    <joint_properties friction="0.5"/>
  </joint>
</robot>
