<?xml version="1.0" ?>
<robot name="mower_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find mower_robot_description)/urdf/materials.xacro" />

<link name="base_link">
  <inertial>
    <origin xyz="-0.00013914774572061804 0.0011217762762978716 -0.036198325107881256" rpy="0 0 0"/>
    <mass value="16.741403336693484"/>
    <inertia ixx="0.443332" iyy="0.230582" izz="0.513887" ixy="0.000132" iyz="-0.01769" ixz="0.000636"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="caster_wheel_link_1">
  <inertial>
    <origin xyz="-0.01642637225083642 -0.001555255512678766 7.234572718672894e-09" rpy="0 0 0"/>
    <mass value="0.9916636746164442"/>
    <inertia ixx="0.000636" iyy="0.000397" izz="0.000395" ixy="2.3e-05" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.01938 0.190279 0.1125" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/caster_wheel_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.01938 0.190279 0.1125" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/caster_wheel_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="caster_yaw_link_1">
  <inertial>
    <origin xyz="0.0008429711230167588 -0.008903626053709507 -0.02351181303282078" rpy="0 0 0"/>
    <mass value="0.20137991035928512"/>
    <inertia ixx="0.000157" iyy="0.000149" izz="0.000104" ixy="1e-06" iyz="-2.9e-05" ixz="3e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.0 0.1665 0.043" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/caster_yaw_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0 0.1665 0.043" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/caster_yaw_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_wheel_link_1">
  <inertial>
    <origin xyz="0.013009877881536708 -7.730436743350055e-05 3.385486335716337e-14" rpy="0 0 0"/>
    <mass value="0.09761950715705968"/>
    <inertia ixx="9e-06" iyy="1e-05" izz="1e-05" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.12 -0.15 0.06" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/left_wheel_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.12 -0.15 0.06" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/left_wheel_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_wheel_link_2">
  <inertial>
    <origin xyz="-0.013009877881540177 7.730436742720004e-05 3.384792446325946e-14" rpy="0 0 0"/>
    <mass value="0.09761950715705968"/>
    <inertia ixx="9e-06" iyy="1e-05" izz="1e-05" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.12 -0.15 0.06" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/left_wheel_link_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.12 -0.15 0.06" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/left_wheel_link_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="imu_link_1">
  <inertial>
    <origin xyz="-0.0002455783523350139 6.106226635438361e-16 0.005313208484620982" rpy="0 0 0"/>
    <mass value="0.20097338891959368"/>
    <inertia ixx="3.8e-05" iyy="4.5e-05" izz="7.8e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.000633 -0.194 0.07" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/imu_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.000633 -0.194 0.07" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/imu_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="back_camera_link_1">
  <inertial>
    <origin xyz="0.00017412726109305226 -0.011783586388691758 0.14967906351799767" rpy="0 0 0"/>
    <mass value="0.04544262598535241"/>
    <inertia ixx="4e-06" iyy="5e-06" izz="4e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.0 -0.2024 0.145" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/back_camera_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.0 -0.2024 0.145" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/back_camera_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="depth_camera_link_1">
  <inertial>
    <origin xyz="-0.0210918599383831 -0.01165788728777628 -2.3486854453198813e-05" rpy="0 0 0"/>
    <mass value="0.07200108621043574"/>
    <inertia ixx="7e-06" iyy="4.6e-05" izz="4.7e-05" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0225 0.199445 -0.0175" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/depth_camera_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0225 0.199445 -0.0175" rpy="0 0 0"/>
    <geometry>
      <mesh filename="../meshes/depth_camera_link_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="caster_wheel_joint" type="continuous">
  <origin xyz="0.01938 -0.023779 -0.0695" rpy="0 0 0"/>
  <parent link="caster_yaw_link_1"/>
  <child link="caster_wheel_link_1"/>
  <axis xyz="0.995548 0.094256 0.0"/>
</joint>

<joint name="caster_yaw_joint" type="continuous">
  <origin xyz="0.0 -0.1665 -0.043" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="caster_yaw_link_1"/>
  <axis xyz="-0.0 -0.0 1.0"/>
</joint>

<joint name="left_wheel_joint" type="continuous">
  <origin xyz="0.12 0.15 -0.06" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_wheel_link_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
</joint>

<joint name="right_wheel_joint" type="continuous">
  <origin xyz="-0.12 0.15 -0.06" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_wheel_link_2"/>
  <axis xyz="1.0 -0.0 0.0"/>
</joint>

<joint name="back_camera_joint" type="fixed">
  <origin xyz="-0.000633 0.194 -0.07" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="imu_link_1"/>
</joint>

<joint name="imu_joint" type="fixed">
  <origin xyz="0.0 0.2024 -0.145" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="back_camera_link_1"/>
</joint>

<joint name="depth_camera_joint" type="fixed">
  <origin xyz="0.0225 -0.199445 0.0175" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="depth_camera_link_1"/>
</joint>

</robot>
